html{
    font-size: calc(1vw + 8);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 3vw 4vw;
}
nav ul{
    display: flex;    
}
nav ul li {
    margin: 0 2vw;
}
nav a {
    color: black;
}
nav span {
    color: #1090CB;
}
nav button {
    border-radius: 5px;
    height: 40px;
    padding: 2px 6px;
    background-color: #1090CB;
}
nav button a {
    color: white;
}
.banner {
    display: flex;
    background-color: #1090cb1a;
    justify-content: space-between;
}
.banner div {
    margin: 0vw 5vw;
}
.banner div.espace {
    margin: 7vw 4vw;
}
.banner h1 {
    font-size: 3vw;
    line-height: 4vw;
}
.banner span {
    color: #1090CB;
}
.banner p {
    font-size: 20px;
    line-height: 40px ;
    margin: 2vw 0;
    color: #5C5C5C;

}
.banner ul {
    display: flex;
    
}
.banner li {
    margin: 2vw;
}
.banner button {
    height: 3vw;
    width: 13vw;
    border-radius: 10px;
    font-size: 20px;
} 
.banner button.um {
    background-color: #1090CB;
}
.banner button.um a.um {
    color: white;
}
.banner button.dois {
    background-color: #ffffff;
    border: 2px #1090CB solid;
}
.banner button.dois a.dois {
    color: #1090CB;
}
.banner img {
    height: 40vw;
}
.option ul {
    margin: 2vw 3vw;
    display: flex;
    justify-content: space-around;
}
.option li {
    display: flex;
}
.option {
    margin: 4vw 0;
}
.option div {
    margin: 0 2vw;
}
.option p {
    color: #969696;
    margin: 10px 0;
}
.option img.web {
    background-color: #efeaff;
    border-radius: 10px ;
    padding: 1vw;

}
.option img.seo {
    background-color: #ecffda;
    border-radius: 10px ;
    padding: 1vw;
}
.option img.ar {
    background-color: #dae6ff;
    border-radius: 10px ;
    padding: 1vw;
}
.option img.mobile {
    background-color: #ffe5da;
    border-radius: 10px ;
    padding: 1vw;
}
.option img.linha {
    justify-content: center;
}



.celu li {
    display: flex;
    margin: 8vw 0;
    justify-content: space-between;
}
.celu p {
    font-size: 20px;
    color: #868686;
}
.celu {
    margin: 10vw 6vw;
    text-align: center;
}
.celu h3 {
    font-size: 2vw;
    margin: 9vw 0 4vw 0;
}
.celu span {
    color: #1090CB;
}
.celu li p {
    font-size: 20px;
    line-height: 40px;
    text-align: start;
    color: #252525;
}
.celu li h3 {
    text-align: start;
}
.celu h1 {
    font-size: 2vw;
    color: #252525;
    margin: 3vw 0;
}

.duas {
    text-align: center;
    margin: 13vw 0;
}
.duas ul {
    margin: 4vw;
    display: flex;
    justify-content: space-around;
}
.duas li {
    height: 30vw;
    width: 30vw;
    border-radius: 2vw;
}
.duas li.dois {
    background-color: #1090CB;
    color: white;
}
.duas li.um {
    background-color: #f4f4f4;
}
.duas h2 {
    margin: 4vw 0;
    font-size: 30px;
    line-height: 45px;
}
.duas p {
    line-height: 160%;
}
.duas button {
    width: 8vw;
    height: 3vw;
    margin: 3vw 0;
    border-radius: 10px;
    font-size: 15px;
}
.duas button.white {
    background-color: white;
    color: #1090CB;
}
.duas button.blue {
    background-color: #1090CB;
    color: white;
}

.email {
    background-color: #e8f4fa;
    height: 30vw ;
    text-align: center;
}
.email h1 {
    font-size: 50px;
    line-height: 140%;
    padding: 9vw 0;
}
.email form input {
    height: 4vw;
    width: 40vw;
    border-radius: 20px;
    font-size: 15px;
}
.email form button {
    height: 4vw;
    width: 10vw;
    background-color: #252525;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 10vw;
}